<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.friendlist926570" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>FriendList</name>
  <description>An awesome Ionic/Cordova app.</description>
  <author email="hi@ionicframework" href="http://ionicframework.com/">Ionic Framework Team</author>
  <content src="index.html"/>
  <access origin="*"/>
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
  <allow-intent href="tel:*"/>
  <allow-intent href="sms:*"/>
  <allow-intent href="mailto:*"/>
  <allow-intent href="geo:*"/>
  <platform name="android">
    <allow-intent href="market:*"/>
  </platform>
  <platform name="ios">
    <allow-intent href="itms:*"/>
    <allow-intent href="itms-apps:*"/>
  </platform>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="19"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="SplashMaintainAspectRatio" value="true"/>
  <preference name="FadeSplashScreenDuration" value="300"/>
  <preference name="loadUrlTimeoutValue" value="700000" />
  <preference name="windows-target-version" value="10.0" />
  <preference name="SplashScreen" value="screen" />
  <feature name="StatusBar">
     <param name="ios-package" onload="true" value="CDVStatusBar" />
  </feature>

  <!-- <preference name="ParseAppId" value="AppId1" /> -->
  
  <!-- <preference name="ParseServerUrl" value="https://parsewithionic-alessandrots.c9users.io/app1" /> -->
  <!-- <preference name="ParseServerUrl" value="http://parsewithionic-alessandrots.c9users.io/app1" /> -->
  <!-- <preference name="ParseServerUrl" value="https://parsewithionic-alessandrots.c9users.io/parse/" /> -->

  <!-- If your parse-server config requires a client key, set this. If not, skip this preference -->
  <!-- <preference name="ParseClientKey" value="masterKey" /> -->

  <!-- required for Android push notification
    To get your GCM sender ID, enable GCM for your Android project in the Google Developer Console.
    The sender id is your project number, and should be a large integer like 123427208255.
    This is the same "senderId" to be used in your parse-server push configuration.
  -->
  <!-- <preference name="ParseGcmSenderId" value="735188278908" /> -->

  <!-- As standard, this plugin only shows the most recent PN in 
    the android notifications tray along with a count of unopened 
    PNs. If you would like to override this behaviour and show all 
    PNs in the tray, then add this preference. 
    If not, skip this preference -->
  <!-- <preference name="ParseMultiNotifications" value="true" /> -->

  <!-- <plugin name="cordova-plugin-network-information" spec="~1.3.1" /> -->
  <plugin name="cordova-plugin-googlemaps" spec="1.3.9">
  <!-- <plugin name="cordova-plugin-googlemaps" spec="https://github.com/mapsplugin/cordova-plugin-googlemaps"> -->
        <variable name="API_KEY_FOR_ANDROID" value="AIzaSyDynv6W1UNR8oq_2uagVhLhyGWNe2v1WEg" />
        <variable name="API_KEY_FOR_IOS" value="AIzaSyAL-2Jna_ugEhoOmF2c9GVbGXcIrqh2zyc" />
  </plugin>

  <engine name="ios" version="4.3.0" />
  <engine name="android" spec="https://github.com/apache/cordova-android.git#6.1.1" />
  <plugin name="cordova-plugin-device" spec="~1.1.4"/>
  <plugin name="cordova-plugin-console" spec="~1.0.5"/>
  <plugin name="cordova-plugin-whitelist" spec="~1.3.1"/>
  <plugin name="cordova-plugin-splashscreen" spec="~4.0.1"/>
  <plugin name="cordova-plugin-statusbar" spec="~2.2.1"/>
  <plugin name="ionic-plugin-keyboard" spec="~2.2.1"/>
  <plugin name="cordova-plugin-inappbrowser" spec="~1.5.0" />
  <!-- <plugin name="parse-push-plugin" spec="https://github.com/taivo/parse-push-plugin" /> -->
</widget>